<div class="sidebar-header">
    <a href="" class="logo">
        <span class="logo-text">WebGLazor</span>
    </a>
</div>

<div class="nav-scroll">
    <nav class="nav-section">
        <div class="nav-title">Getting started</div>
        <ul class="nav-list">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Quick Start</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="api-reference">API Reference</NavLink>
            </li>
        </ul>
    </nav>

    <nav class="nav-section">
        <div class="nav-title">Demos</div>
        <ul class="nav-list">
            <li class="nav-item">
                <NavLink class="nav-link" href="bar-charts">2D Bar Charts</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="rotating-cube">3D Rotating Cube</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="stress-test">Performance Test</NavLink>
            </li>
        </ul>
    </nav>

    <nav class="nav-section">
        <div class="nav-title">Source repository</div>
        <ul class="nav-list">
            <li class="nav-item">
                <NavLink class="nav-link" href="https://github.com/gbastecki/WebGLazor">GitHub</NavLink>
            </li>
        </ul>
    </nav>
</div>
