name: build

on:
    workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
        contents: write
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Restore dependencies
      working-directory: ./WebGLazor.Demo
      run: dotnet restore WebGLazor.Demo.csproj

    - name: BuildDemo
      working-directory: ./WebGLazor.Demo
      run: dotnet publish WebGLazor.Demo.csproj -c Release -o release